
<!DOCTYPE HTML>
<html>
<head>
<title>MyntraHack</title>
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/fwslider.css') }}" media="all">
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fwslider.js') }}"></script>


</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href={{ url_for('index') }}><img src={{ url_for('static', filename="images/logo1.png") }} width="150px" height="50px" alt=""/></a>
					 </div>
					 <div class="menu">
						  <a class="toggleMenu" href="#"><img src={{ url_for('static', filename="images/nav.png") }} alt="" /></a>
						    <ul class="nav" id="nav">
						    	<li><a href={{ url_for('men') }}><b>Men</b></a></li>
						    	<li><a href={{ url_for('women') }}><b>Women</b></a></li>
						    	<li><a href={{ url_for('aboutus') }}><b>About Us</b></a></li>

								<div class="clear"></div>
							</ul>
							<script type="text/javascript" src="{{ url_for('static', filename='js/responsive-nav.js') }}"></script>
				    </div>
	    		    <div class="clear"></div>
	    	    </div>
	            <div class="header_right">
	            	<div class="button1"><a href="#">Sign Up</a></div>
	            	<div class="button1"><a href="#">Sign In</a></div>

		           <div class="clear"></div>
	       </div>
	      </div>
		 </div>
	    </div>
	</div>
	<div class="banner">
       <div id="fwslider">
         <div class="slider_container">
            <div class="slide">
               <img src={{ url_for('static', filename='images/bg.jpg') }} class="img-responsive" alt=""/>

                <div class="slide_content">
                    <div class="slide_content_wrap" style="text-align: center;">

                        <h1 style="text-align: center; font-family:Open Sans"><b>Fashion is like eating, you shouldn't stick to the same menu.</b></h1>
                        <button style="background: #000;border-radius: 20px;	border: none;color:#fff;font-size:0.85em;text-transform:uppercase;font-weight:800;display: inline-block;padding:10px 10px;cursor: pointer;
"><a href={{ url_for('begin') }} style="text-decoration: none;color: white">Build Your Own Menu</a></button>
                    </div>
                </div>
            </div>



        </div>
        <div class="timers"></div>
       </div>

      </div>
      <br>
      <div style="text-align: center;">
      	<h3 style="text-align: center;"><b>Get Style For Your Life</b></h3>
      	<p style="text-align: center; padding-left: 30%;padding-right: 30%">Build a personalized wardrobe for your unique size and style. With our styling system, you'll always look and feel your best.</p>
      </div>
      <br>




</body>
</html>
