
<!DOCTYPE HTML>
<html>
<head>
<title>Hamro Store</title>
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/fwslider.css') }}" media="all">
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fwslider.js') }}"></script>


</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href={{ url_for('index') }}><img src={{ url_for('static', filename="images/logo1.png") }} width="125px" height="50px" alt=""/></a>
					 </div>

	    		    <div class="clear"></div>
	    	    </div>

	      </div>
		 </div>
	    </div>
	</div>
	<div style="text-align: center;margin-top: 1%">
		<h3><b>What are you looking for?</b></h3>
		<br>
		<br>
		<figure>
			<a href={{ url_for("menjackets") }}><img src={{ url_for('static', filename="images/mjacket.png" ) }} width="200px" height="280px"></a>
			<a href={{ url_for("menjeans") }}><img src={{ url_for('static', filename="images/mjeans.jpg") }} width="225px" height="300px"></a>

		</figure>
		<br>
		<a href={{ url_for("menjackets") }} style="background-color: white;padding-left: 80px;padding-right: 80px;color: black;margin-right: 20px;border:solid 1px black;border-radius: 12px;text-decoration: none">Jackets</a>
		<a href={{ url_for("menjeans") }} style="background-color: white;padding-left: 80px;padding-right: 80px;color: black;margin-right: 20px;border:solid 1px black;border-radius: 12px;;text-decoration: none">Jeans</a>
		<br>
		<br>
		<figure>
			<a href={{ url_for("menshirt") }}><img src={{ url_for('static', filename="images/mshirt.jpg" ) }} width="225px" height="300px"></a>
			<a href={{ url_for("mentshirt") }}><img src={{ url_for('static', filename="images/mtshirtt.png" ) }} width="200px" height="240px"></a>

		</figure>
		<br>
		<a href={{ url_for("menshirt") }} style="background-color: white;padding-left: 80px;padding-right: 80px;color: black;margin-right: 20px;border:solid 1px black;border-radius: 12px;;text-decoration: none">Shirts</a>
		<a href={{ url_for("mentshirt") }} style="background-color: white;padding-left: 80px;padding-right: 80px;color: black;margin-right: 20px;border:solid 1px black;border-radius: 12px;;text-decoration: none">T-Shirts</a>
		<br>
		<br>


		<br><br>

	</div>






</body>
</html>
