
<!DOCTYPE HTML>
<html>
<head>
	<title>MyntraHack</title>
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
	<link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/fwslider.css') }}" media="all">
	<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/fwslider.js') }}"></script>


</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href={{ url_for('index') }}><img src={{ url_for('static', filename="images/logo1.png") }} width="50px" height="50px" alt=""/></a>
					 </div>

	    		    <div class="clear"></div>
	    	    </div>

	      </div>
		 </div>
	    </div>
	</div>

	<form method="POST" action = "{{ url_for('menjackets9')}}">
	<div class = "form-group" style="width:60%; text-align: center;margin-top: 5%; margin-left:20%; margin-right:50%">
		<img src={{ url_for('static', filename="images/person.png") }} width="100px" height="100px">
		<h3><b>Do you need it for daily wear?</b></h3>
		<br>


		<div class="radio" style="margin-left:10%; padding-right:-400px; "checked>
        <label><input type="radio" name="formal" value="yes"><b>Yes</b></label><br>
				<label><input type="radio" name="formal" value="no"><b>No</b></label>
    </div>

		<br>

		<input class="btn btn-primary" type="submit" value="submit">


	</div>
 </form>
</body>
</html>
