
<!DOCTYPE HTML>
<html>
<head>
<title>MyntraHack</title>
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/fwslider.css') }}" media="all">
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fwslider.js') }}"></script>


</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href={{ url_for('index') }}><img src={{ url_for('static', filename="images/logo1.png") }} width="50px" height="50px" alt=""/></a>
					 </div>

	    		    <div class="clear"></div>
	    	    </div>

	      </div>
		 </div>
	    </div>
	</div>
	<div style="text-align: center;margin-top: 1%">
		<h3><b>Which outfits would you wear?</b></h3>
		<br>
		<br>
		<figure>
			<a href=""><img src={{ url_for('static', filename="images/jacket1.jpeg" ) }} width="225px" height="300px"></a>
			<a href=""><img src={{ url_for('static', filename="images/jacket2.jpeg" ) }} width="225px" height="300px"></a>
			<a href=""><img src={{ url_for('static', filename="images/jacket3.jpeg" ) }} width="225px" height="300px"></a>
		</figure>
		<br>
		<figure>
			<a href=""><img src={{ url_for('static', filename="images/jacket4.jpeg" ) }} width="225px" height="300px"></a>
			<a href=""><img src={{ url_for('static', filename="images/jacket5.jpeg" ) }} width="225px" height="300px"></a>
			<a href=""><img src={{ url_for('static', filename="images/jacket6.jpeg" ) }} width="225px" height="300px"></a>
		</figure>
		<br>
		<br>

		<a style="color: red" href={{ url_for('menjackets2') }}><button style="border-color: red;background-color: white;padding-left: 100px;padding-right: 100px;color: red;margin-right: 20px"><b>Next</b></button></a>
		<br><br>

	</div>






</body>
</html>
