
<!DOCTYPE HTML>
<html>
<head>
<title>MyntraHack</title>
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/fwslider.css') }}" media="all">
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fwslider.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all">



<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>



</head>

	<style type="text/css">
.nopad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid transparent;
  margin-bottom: 0;
  outline: 0;
}
.image-checkbox input[type="checkbox"] {
  display: none;
}

.image-checkbox-checked {
  border-color: #4783b0;
}
</style>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href={{ url_for('index') }}><img src={{ url_for('static', filename="images/logo1.png") }} width="100px" height="50px" alt=""/></a>
					 </div>

	    		    <div class="clear"></div>
	    	    </div>

	      </div>
		 </div>
	    </div>
	</div>
	

</div>

	<div style="text-align: center;margin-top: 1%">
		<h3><b>Fit</b></h3>
		<br>
		<br>
<form action="{{ url_for('menjackets8') }}">
<div class="container" style="margin-left: 25%">

  <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
    <label class="image-checkbox">
      <img class="img-responsive" src={{ url_for('static', filename="images/pat1.jpeg" ) }}  />
      <input type="checkbox" name="image[]" value="pat1" />
      <i class="fa fa-check hidden"></i>
    </label>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
    <label class="image-checkbox">
      <img class="img-responsive"  src={{ url_for('static', filename="images/pat2.jpeg" ) }} />
      <input type="checkbox" name="image[]" value="pat2" />
      <i class="fa fa-check hidden"></i>
    </label>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
    <label class="image-checkbox">
      <img class="img-responsive"  src={{ url_for('static', filename="images/pat3.jpeg" ) }} />
      <input type="checkbox" name="image[]" value="pat3" />
      <i class="fa fa-check hidden"></i>
    </label>
  </div>
</div>
<div class="container" style="margin-left: 25%">
  <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
    <label class="image-checkbox">
      <img class="img-responsive"  src={{ url_for('static', filename="images/pat4.jpeg" ) }} />
      <input type="checkbox" name="image[]" value="pat4" />
      <i class="fa fa-check hidden"></i>
    </label>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
    <label class="image-checkbox">
      <img class="img-responsive"  src={{ url_for('static', filename="images/pat5.jpeg" ) }} />
      <input type="checkbox" name="image[]" value="pat5" />
      <i class="fa fa-check hidden"></i>
    </label>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-2 nopad text-center">
    <label class="image-checkbox">
      <img class="img-responsive"  src={{ url_for('static', filename="images/pat6.jpeg" ) }} />
      <input type="checkbox" name="image[]" value="pat6" />
      <i class="fa fa-check hidden"></i>
    </label>
  </div>
  
</div>
		<br>
		<br>

		<a style="color: red" href={{ url_for('menjackets4') }}><button style="border-color: red;background-color: white;padding-left: 100px;padding-right: 100px;color: red;margin-right: 20px"><b>Next</b></button></a>
		<br><br>
</form>
</div>

</body>
<script type="text/javascript">

$(".image-checkbox").each(function () {
  if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
    $(this).addClass("image-checkbox-checked");
  } else {
    $(this).removeClass("image-checkbox-checked");
  }
});

// sync the state to the input
$(".image-checkbox").on("click", function (e) {
  $(this).toggleClass("image-checkbox-checked");
  var $checkbox = $(this).find('input[type="checkbox"]');
  $checkbox.prop("checked", !$checkbox.prop("checked"));

  e.preventDefault();
});

</script>
</html>
