
<!DOCTYPE HTML>
<html>
<head>
<title>Hamro Store</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>

<link rel="stylesheet" href="css/fwslider.css" media="all">
<script src="js/jquery-ui.min.js"></script>
<script src="js/fwslider.js"></script>


</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href="index.html"><img src="images/logo1.png" width="125px" height="50px" alt=""/></a>
					 </div>
					 						
	    		    <div class="clear"></div>
	    	    </div>
	            
	      </div>
		 </div>
	    </div>
	</div>
	<div style="text-align: center;margin-top: 10%">
		<h3><b>Placket</b></h3>
		<br>
		
		<a href="menshirt4.html" style="background-color: white;padding-left: 50px;padding-right: 50px;;margin-left: -5px;border-radius: 12px;margin-right: 10px;border: solid 2px black;color: black;text-decoration: none;"><b>Zip</b></a>

		
		
		<a href="menshirt4.html" style="background-color: white;padding-left: 50px;padding-right: 50px;;margin-left: -5px;border-radius: 12px;margin-right: 10px;border: solid 2px black;color: black;text-decoration: none;"><b>Button</b></a>
		

	</div>
	
      
	  
	
	
		
</body>	
</html>