
<!DOCTYPE HTML>
<html>
<head>
<title>MyntraHack</title>
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/fwslider.css') }}" media="all">
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/fwslider.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all">



<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>



</head>

  <style type="text/css">
.nopad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px solid transparent;
  margin-bottom: 0;
  outline: 0;
}
.image-checkbox input[type="checkbox"] {
  display: none;
}

.image-checkbox-checked {
  border-color: #4783b0;
}
</style>
<body>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <div class="header-left">
           <div class="logo">
            <a href={{ url_for('index') }}><img src={{ url_for('static', filename="images/logo1.png") }} width="150px" height="50px" alt=""/></a>
           </div>

              <div class="clear"></div>
            </div>

        </div>
     </div>
      </div>
  </div>




  <div style="margin-left:60px">
      <h3 style="text-align: center;font-family:sans-serif;font-weight:bold;">Personalised Jacket Recommendation</h3>


          {% for i in range(length) %}
                <div style="border:solid 1px #aaa;width: 250px ; height: 450px; margin: 35px;float:left; text-align: center;">
                     <img src={{ url_for('static', filename="mjackets/" + productid[i] + "_1.JPG") }} width="250px" height="300px" >
               <br>
               <p style="font-family: sans-serif; padding-top:10px; text-align: center;"><span><b>{{ title[i] }}</b></span></p>
               <br>
                <p style="padding-left:10px; padding-top:-20px; text-align: left"> {{ name[i] }}
                <br>
                 MRP -<i> {{ price[i] }}  </i></p>
              </div>
            {% endfor %}



</div>

</body>
<script type="text/javascript">

$(".image-checkbox").each(function () {
  if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
    $(this).addClass("image-checkbox-checked");
  } else {
    $(this).removeClass("image-checkbox-checked");
  }
});

// sync the state to the input
$(".image-checkbox").on("click", function (e) {
  $(this).toggleClass("image-checkbox-checked");
  var $checkbox = $(this).find('input[type="checkbox"]');
  $checkbox.prop("checked", !$checkbox.prop("checked"));

  e.preventDefault();
});

</script>
</html>
